
<div class="container-fluid">
<div class="jumbotron">
    <h3 class="display-4">What is T-Hub</h3>
    <p class="lead">T-Hub is a unique public/private
         partnership between the government of Telangana, 
         3 of India’s premier academic institutes (IIIT-H, ISB & NALSAR) and key private sector leaders. 
        </p>
    <hr class="my-4">
    <p>     It stands at the intersection of the start-up, academic, corporate, research and government sectors.
        </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
  <hr>
  <div class="vision">
      <br>
      <br>
      <h3 >Our Vision</h3>
      <hr>
      <div class="row">
          <div class="col-sm-3">
                Attract the best start-ups and entrepreneur organizations from across the world to Hyderabad.
          </div>
          <div class="col-sm-3">
                Equip innovators and organizations alike with the entrepreneurship skills required to succeed, 
                using methodologies that transcend traditional learning.
          </div>
          <div class="col-sm-3">
                Educate and promote all entrepreneurship related stakeholders in Hyderabad, including start-ups,
                 investors, incubators and accelerators, research centres, startup resources etc.          </div>
          <div class="col-sm-3">
                Work with an extensive network of partners to help entrepreneurs launch and scale innovative companies.          </div>

      </div>
      <br>
      <br>
  </div>
  <hr>
  <div class="cat">
      <br>
      <br>
      <h3>CatalysT – A T-Hub Building</h3>
      <hr>
      <div class="row">
          <div class="col-md-6" >
                We are anchoring the entire Hyderabad startup ecosystem with a state-of-the-art 
                70,000 square foot building called CatalysT, the largest building in India to
                 be entirely dedicated to entrepreneurship. Located at the IIIT-H Campus,
                 Gachibowli, the sprawling building will bring the start-up community together.
          </div>
          <div class="col-md-6">
                Platform for entrepreneurs, mentors,
                 investors and academia to interact and collaborate.
                  The world-class infrastructure facilities at the building will be used
                   for co-working spaces, meetings, mentoring,
                 networking sessions and conferences. By giving access to top mentors, investors and academia
      </div>
      
  </div>
  <br>
  <br>
  </div>
  <hr>
    
<div class="vision">
    <br>
    <br>
    <h3>
            T-Hub and India: paving the road for a brighter future
    </h3>
    <p style="text-align: center">
            As an independent registered non-profit organization, 
            T-Hub is at the intersection of the start-up community, government, corporate, academic, and research sectors.
             We endeavour to build a booming start-up ecosystem thriving on the tightly-knit, most vibrant 
             entrepreneurial ecosystem in the country. Our goal is to build an ecosystem that not only 
             caters to local entrepreneurs 
            but also acts as a gateway for anyone who wants to start a tech company in India.
    </p>
    <br>
    <br>
</div>
<hr>

<div>
    <img src="{{image.img}}" height="350px" width="100%">
</div>
<hr>
<div class="sub">
<h5> Subscribe to our mail list !</h5>
<input class="input-lg" type=text placeholder="Email address..."><br>
<button class="btn btn-basic">Subscribe</button>
</div>


</div>