h3
{
    text-align: center
}

.vision
{
    
    background-color: rgba(238, 20, 20, 0.548);
    color: white
}

.cat
{
    background-color: rgba(111, 146, 146, 0.267)
}

.sub
{
    text-align: center
}