<header>
    <nav class="navbar fixed-top  navbar-expand-sm navbar-dark" style="background-color: rgba(240, 21, 21, 0.568)">
        <a class="navbar-brand">
                <img  routerLink='' routerLinkActive = 'active' src="../assets/dyyUso7n_400x400.jpg" alt="Logo" style="width:40px;height:25px">
              </a>
  <ul class="navbar-nav">
    <li class="nav-item active">
            <a class="nav-link" routerLink='' routerLinkActive = 'active'>T - HUB</a>
        </li>
    <li class="nav-item">
            <a class="nav-link" routerLink='/about' routerLinkActive = 'active'>About</a>
        </li>
    <li class="nav-item">
            <a class="nav-link" routerLink='/gallery' routerLinkActive = 'active'>Gallery</a>
        </li>
    <li class="nav-item">
            <a class="nav-link" routerLink='/phase2' routerLinkActive = 'active'>PHase 2</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
</header>
<br>
<br>
<hr>
<router-outlet></router-outlet>
<hr>
<footer class="page-footer font-small blue-grey lighten-5 pt-0">

  <div class="bg-danger">
      <div class="container">
          <!--Grid row-->
          <div class="row py-4 d-flex align-items-center">

              <!--Grid column-->
              <div class="col-12 col-md-5 text-left mb-4 mb-md-0">
                  <h6 class="md-0 white-text text-center text-md-left">
                      <strong style="color:aliceblue"> -- T Hub --</strong>
                  </h6>
              </div>
          </div>
      </div>
  </div>
  <div class="container mt-5 mb-4 text-center text-md-left">
      <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mb-4 dark-grey-text">
              <h6 class="text-uppercase font-weight-bold">
                  <strong>T - Hub</strong>
              </h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <h6>A Govt. Of Telangana's Initiative</h6>
          </div>
          <!--/.First column-->

          <!--Second column-->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 dark-grey-text">
              <h6 class="text-uppercase font-weight-bold">
                  <strong>Services</strong>
              </h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                  <a href="https://forms.zohopublic.com/THub/form/THubIncubationProgramApplicationForm/formperma/_72ab2901898B2J9h2eKJ9117" target="blank" class="dark-grey-text">Incubation</a>
              </p>
              <p>
                  <a href="https://forms.zohopublic.com/tfundportal/form/TFundApplication/formperma/2MFD70b2M32GadDh04DB4aebB" target="blank" class="dark-grey-text">Acceleration</a>
              </p>
              <p>
                  <a href="https://www.t-hub.co/programs/" target="blank" class="dark-grey-text">Market Access</a>
              </p>
              <p>
                  <a href="http://t-fund.co/" target="blank" class="dark-grey-text">Capital</a>
              </p>
          </div>
          <!--/.Second column-->

          <!--Third column-->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 dark-grey-text">
              <h6 class="text-uppercase font-weight-bold">
                  <strong>ASYNC</strong>
              </h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
            <a class="nav-link" routerLink='/abot' routerLinkActive = 'active'>About</a>
              </p>
              <p>
            <a class="nav-link" routerLink='/gallery' routerLinkActive = 'active'>Gallery</a>
              </p>
              <p>
            <a class="nav-link" routerLink='/phase2' routerLinkActive = 'active'>PHase 2</a>
              </p>
              <p>
            <a class="nav-link" routerLink='opx' routerLinkActive = 'active'>Help</a>
              </p>
          </div>
          <!--/.Third column-->

          <!--Fourth column-->
          <div class="col-md-4 col-lg-3 col-xl-3 dark-grey-text">
              <h6 class="text-uppercase font-weight-bold">
                  <strong>Contact</strong>
              </h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                  <i class="fa fa-home mr-3"></i> IIIT,Hyderabad,Telangana,IN</p>
              <p>
                  <i class="fa fa-envelope mr-3"></i> info@thub.co</p>
              <p>
                  <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
              <p>
                  <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
      </div>
  </div>
  
  <div class="footer-copyright py-3 text-center">
      © 2018 Copyright:
      <a href="">
          <strong> Gsk.Inc...</strong>
      </a>
  </div>
</footer>
 

